version: '3.8'

services:

  app:
    build: .
    container_name: goquest_app
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gqmanager.rule=Host(`${APP_DOMAIN}`)"
      - "traefik.http.routers.gqmanager.entrypoints=websecure"
      - "traefik.http.routers.gqmanager.tls.certresolver=letsencrypt"
      - "traefik.http.services.gqmanager.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik-net"

volumes:
  postgres_data:
